@font-face {
  font-family: HeeboFonts;
  src: url('/src/font/static/Heebo-ExtraLight.ttf');
}

body {
  margin: 0;
  background-color: #282c34;
  font-family: HeeboFonts;
  color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
